{% extends 'base.html.twig' %}

{% block title %}Simple Cart - Product Listing{% endblock %}

{% block body %}
    <h1>Product Listings</h1>

    {% if message.valid %}
        <h3>{{ message.type }}: {{ message.value }}</h3>
    {% endif %}
    <ul>
        {% for product in products.items %}
        <li>{{ product.name }} - <a href="/product/{{ product.id }}/add-to-cart">Add to cart for R {{ product.price }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
